
/*class to help us visualize the grid*/
.boxHelper
{
	color: #fff;
	background-color: #000;
	text-align: center;
}

/*...................GENERAL STYLING....................*/

/*colors
#1a0d3c dark blue
#512c75 accent purple
#78599a light white
#cac0d1 white

gradient: #0f0e43 to #8f48a3*/

.hidden{display: none;}

p {font-family: 'Poppins', sans-serif, Arial; font-size: 15px; text-align: center;}

.paraStyle{line-height: 18px; color: #494949;} /*color: #848484;*/
.headStyle{font-size: 22px; color: #A858A5; text-align: center;}

/*body {background-image: url(../images/background-mobile.jpg); background-repeat: repeat;}*/

body{background-color: #a858a5;}

.textBG{background-color: #ffffff; color: #62367d;} /*border: double 3px #78599a;*/

/*buttons*/
.buttons{background-color: #c79cce; padding: 5px 5px 5px 5px; text-align: center; border: 3px double #ffffff; color: #ffffff;}

/*TOP BAR*/
#topBar{height: 22px; background-color: #fff;}

/*NAV*/
.title-bar{background: linear-gradient(#A858A5, #ffffff);}
#menuBar{background-color: #C79CCE; height: 20px;}
#menuNav{background-color:#EEDBF4;}
#mainNav{color: #C9BFD0; text-align: center; position: fixed; width: 100%;}
#mainNav ul {list-style-type: none;}
#mainNav ul li {display: block; border: solid 1px #fff;}
#mainNav ul li a {text-decoration: none; font-family: 'Poppins', sans-serif, Arial; color: #A858A5; padding: 0px 45px 0px 45px;}
#mainNav ul li a:hover {text-decoration: none; font-family: 'Poppins', sans-serif, Arial; color: #C79CCE;}

/*MAIN PROMO*/
#promoName{margin-top: 30px; text-align: center; color: #ffffff; font-family: 'Poppins', sans-serif, Arial; font-weight: bold;}
#promoPosition{margin-bottom: 10px; text-align: center; color: #ffffff; font-family: 'Poppins', sans-serif, Arial;}
#promoSection{margin-top: 30px;}

/*SECTIONS*/
.sectionBackground{padding: 32px 0px 32px 0px; background-color: #fff;}/*background: linear-gradient(#eedff0, #eee2f0)}*/ /*background: linear-gradient(#8f48a3, #0f0e43)*/
/*.sectionMobile{margin-bottom: 50px;}*/
.sectionFooter{height: 12px; margin-bottom: 50px; background-color: #1a0d3c; border: solid 1px #78599a;}
.sectionFooterLast{height: 12px; margin-bottom: 25px; background-color: #1a0d3c; border: solid 1px #78599a;} /*background-color: #b073ba;*/
.titleBar{ padding: 3px 0px 3px 0px;border: solid 3px #ffffff; color: #ffffff; text-align: center; font-family: 'Poppins', sans-serif, Arial; font-weight: bold;}

/*GALLERYS*/
.galleryButton{font-size: 13px;}
.photoGalleryButton{position: absolute;}
/*#leftPhotoGallery{float: left;}
#rightPhotoGallery{float: right; margin-left: 93%;}*/

/*FOOTER*/
#nameBottom{color: #ffffff; margin-top: 6%;}
#footerContent{margin: 8px 0px 8px 0px;}

/*MEDIUM/LARGE GENERAL*/
/*#footer{margin: 30px 0px 0px 0px; padding: 0px 0px 22px 0px;}*/
#bottomBar{height: 19px; background: linear-gradient(#A858A5, #ffffff);}
#socialIconsLarge{margin: 10px 0px 10px;}
#nameBottomLarge{margin-top: 5%; color: #ffffff;}

/*MEDIUM*/
/*medium adjustments*/
@media screen and (min-width: 40em){
.sectionBackground{padding: 38px 0px 38px 0px;}
/*body {background-image: url(../images/background-tablet.jpg); background-repeat: repeat;}*/
	.buttons{box-shadow: 1px 2px 2px rgba(0, 0, 0, .4); border: solid 1px #B073BA;}
}

/*LARGE*/	
@media screen and (min-width: 64em){
	#bottomBar{height: 30px;}
	#copyrightLarge{margin: 0px;}
	/*body {background-image: url(../images/background-desktop.jpg); background-repeat: repeat;}*/
}

/*......................HOME PAGE.......................*/

/*PHOTOGRAPHY SERVICES HOMEPAGE*/
.servicesButton{background-color: #b073ba; padding: 5px 5px 5px 5px; text-align: center; font-family: 'Poppins', sans-serif, Arial; color: #ffffff; border: 3px double #ffffff;}
#servicesInfo{padding: 0px 20px 0px 20px;}

#photoServiceButton{margin-top: 15px;}

#moreAboutButton{margin-top: 15px;}

/*ABOUT SECTION HOMEPAGE*/
/*#aboutTitleHome{margin: 0px 1px 0px 1px;}*/
#aboutImgHome{ width: 50%; box-sizing: border-box;}
#aboutInfoHome p{color: #190C3D; margin-top: 10px; }
#aboutInfoHome{text-align: center;}
#aboutButtonHome{margin-top: 10px; background-color: #1a0d3c; border: solid 2px #78599a; border-radius: 10px 0px 10px 0px; clear: both;}

/*PORTFOLIO SECTION HOMEPAGE*/
#videoHome{height: 160px; border: double 3px #78599a;}
#controlsHome{height: 41px; background-color: #1a0d3c;  border: double 3px #78599a;}
#portfolioButtonHome{margin-top: 10px; background-color: #1a0d3c; border: solid 2px #78599a; border-radius: 10px 0px 10px 0px;}
#viewPortfolioButton{margin-top: 22px;}
#portfolioContentHome{margin-top: 2px;}

/*CONTACT SECTION HOMEPAGE*/
#contactInfoHome p {margin: 5px 20px 5px 20px;}
#contactButtonHome{margin-top: 10px; clear: both;}
/*#socialInfoHome{margin: 15px 0px 15px 0px; border: double 3px #b073ba; text-align: center; padding: 15px 0px 0px 0px;}
.socialIcon{height: 32px; width: 32px;border-radius: 20px;}*/
#contactContentHome{margin-top: 2px;}

/*MEDIUM*/
#promo{margin-top: 38px;}
#promoHome{height: 240px;}
.socialIconPromo{height: 60px; border-radius: 30px; margin: 17px 0px 0px 0px;}
.aboutButton{ height: 45px; margin: 8px 7px 7px 7px;}
.portfolioHomeButtons{height: 65px;}

/*Medium Adjustments*/
@media screen and (min-width: 40em){
	#promoName{color: #126979;}
	#aboutTitleHome{margin-top: 38px;}
	#aboutImgHome{height: 181px;}
	#aboutInfoHome{height: 181px;}
	#videoHome{height: 260px;}
	#controlsHome{height: 46px;}
	#portfolioTitleHome{margin-top: 38px;}
	#contactTitleHome{margin-top: 38px;}
	#contactButtonHome{height: 64px;}
}

/*LARGE*/	
@media screen and (min-width: 64em){
	#promoName{color: #D89402;}
	.servicesBoxLarge{height: 330px; background-color: #A858A5;}
	#photoImgBox{}
	.subHeading{color: #A858A5; font-size: 18px;}
	.bulletList{color: #848484; font-size: 18px;}
	.homePortfolioButtons{margin: 10px 0px 10px 0px;}
}
	
/*......................ABOUT PAGE.......................*/

/*ABOUT*/
#aboutImg{height: 109px;}
#aboutPara1{padding: 0px 15px 0px 15px;}
.aboutPara{padding: 0px 15px 0px 20px; margin: -2px 10px 0px 10px;}
#programLink{color: #A858A5; text-decoration: underline; font-weight: 500;}
.aboutButton{background-color: #1a0d3c; border: solid 2px #78599a; color: #cac0d1;}
#aboutChantelImg{border: solid 2px #78599a; padding: 0px 0px 0px 0px; margin: 0px 10px 15px 20px;}
#aboutChantelInfo{height: 100%; padding: 15px 0px 5px 0px; margin-bottom: 15px;}
#aboutChantelInfo p {text-align: left;}
.aboutInfo p{ line-height: 18px; padding: 10px 10px 10px 10px;}

/*#aboutContainer{height: 107px;}*/

/*OFFER*/
.offerButton{font-size: 13px;}

/*RESUME*/
#resume{height: 428px; background-color: #cac0d1; border: double 3px #78599a; color: #1a0d3c;}
#aboutResumeSection{margin-top: 2px;}
#aboutContactFormInfo{margin: 10px 0px 10px 0px; height: 72px;}
#aboutContactFormButton{background-color: #1a0d3c; border: solid 2px #78599a; border-radius: 10px 0px 10px 0px;}
#resumeInfoSection{margin: 4px 0px 15px 0px;}
#resumeInfo{text-align: center;}
#resumeButton{margin-top: 8px;}
#myResume{text-align: center; background-color: #F1E3F0; margin-top: 15px;}

/*MEDIUM*/
#chantelPromoImg{height: 232px;}
#chantelPromoInfo{padding: 95px 0px 96px 0px;}
/*#offerTitle{margin-top: 38px;}*/
/*#resumeTitle{margin-top: 38px;}*/

/*Medium Adjustments*/
@media screen and (min-width: 40em){
	/*#aboutTitle{margin-top: 38px;}*/
/*	#aboutContainer{height: 168px;}*/
	#aboutChantelInfo{height: 100%;}
}
@media screen and (min-width: 60em){
	/*#aboutTitle{margin-top: 38px;}*/
	
}

/*....................PORTFOLIO PAGE.....................*/
#video{border: double 3px #78599a;}
#videoControls{background-color: #190C3D; color: #cac0d1; border: double 3px #78599a;}

.adButton{border: double 3px #78599a;}

#graphicInfo{text-align: center;}
.graphicButton{font-size: 13px; margin: 5px 0px 5px 0px; border-radius: 20px; border: solid 2px #78599a;}

#poster{height: 432px;}

#photo{height: 180px; border: double 3px #78599a;}
.galleryButton{background-color: #512c75; border: double 3px #78599a;}

#poster{border: double 3px #78599a;}

/*MEDIUM*/
#brochure{height: 264px;}
.adButton{height: 44px;}
#brochureDescription{height: 70px;}

/*Medium Adjustments*/
@media screen and (min-width: 40em){
	#videoTitle{margin-top: 38px;}
	#adBrochureTitle{margin-top: 38px;}
	#graphicTitle{margin-top: 38px;}
	#posterTitle{margin-top: 38px;}
	#photoTitle{margin-top: 38px;}
}

/*.....................CONTACT PAGE......................*/

#contactForm{height: 419px; margin: 10px 0px 0px 0px;}
#contactFormInfo p{padding: 15px 10px 0px 10px;}

label{font-family: 'Poppins', sans-serif, Arial; font-size: 15px; color: #62367d;}
/*input{font-family: 'Poppins', sans-serif, Arial; font-size: 15px; color: #62367d;}*/
/*MEDIUM*/

/*Medium Adjustments*/
@media screen and (min-width: 40em){
	#contactTitle{margin-top: 38px;}
}

/*LARGE*/	
@media screen and (min-width: 64em){
	#contactPromoBanner{height: 452px; background-color: #000; margin-top: -24px}
}

	